<h4 class="tit">Mascotas en Adopción</h4>
<div class="card-container">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cachito</mat-card-title>
      <mat-card-subtitle>Perrito en Adopción</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/fotos-premium/perro-lindo-blanco-vetprofen-viejo-bulldog-americano-blanco-sur-cachorros-venta_1072870-42133.jpg?w=740">
    <mat-card-content>
      <p>
        No compres, mejor adopta.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>COMPARTIR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Luna</mat-card-title>
      <mat-card-subtitle>Gatita en Adopción</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/fotos-premium/gato-ojos-cerrados-durmiendo-suelo_1279815-6605.jpg?w=740">
    <mat-card-content>
      <p>
        No compres, mejor adopta.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>COMPARTIR</button>
    </mat-card-actions>
  </mat-card>
</div>


  
  