<h4 class="tit">Contáctanos para más información </h4>
<div class="full-screen-container">
    <div class="contact-info">
        <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
        <span>Santo Domingo, Ecuador  </span>
      </div>
      <div class="contact-info">
        <mat-icon aria-hidden="false" aria-label="Phone icon">phone</mat-icon>
        <span>0986439931  </span>
      </div>
      <div class="contact-info">
        <mat-icon aria-hidden="false" aria-label="Email icon">email</mat-icon>
        <span>adopcion.com  </span>
      </div>
</div>