.tit{
    text-align: center;
    color: rgb(113, 7, 211);
    width: 97vw; 
  }
  .full-screen-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 90vw; 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    margin-left: 60px;
    color: white;

  }
  
  mat-grid-list {
    width: 100%;
    height: 100%; 
  }